Source: art
Maintainer: Menucha Team <info@menucha.de>
Build-Depends: debhelper, golang:native, git, crossbuild-essential-armhf:all, libc6

Package: art
Architecture: any
Depends: ${shlibs:Depends}, swagger-ui
Description: Applicationm runtime service
